table.book {
  border: none;
  margin: 0.5em;
  width: 100%;
}

table.book td {
  border: none;
  padding: 0.5em;
  vertical-align: top;
}

table.book td.cover {
  vertical-align: middle;
  width: 1%;  /* No wider than the book cover image. */
}

table.book td.cover img {
  border: 1px solid gray;
}
